body{
    background-color: whitesmoke;
}

.container{
    width: 80%;
    background-color: white;
    margin-top: 20px;
    border: 2px solid lightgrey;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.contests h4{
     margin: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 90%;
    text-align: center;
    color: rgba(46, 51, 54, 0.75);
    border-bottom: 1px solid lightgrey;
}

.contests h5{
    text-align: center;
    height: 50px;
    line-height: 2.5;
    font-size: 2em;
    color: rgba(46, 51, 54, 0.75);
}


.tabs{
    margin-bottom: 30px;
    background-color: #21638d;
    border-bottom: 1px solid rgba(229, 229, 229, 0);
}

.tabs .tab a{
    color: whitesmoke;
    text-transform: none;
}

.tabs .tab a:hover{
    color: rgba(46, 51, 54, 0.87);
    background-color: white;
    transition: 300ms;
}

.tabs .indicator{
    background-color: rgba(230, 229, 229, 0.92);
}

.card.small .card-title{
    text-align: center;
    padding: 10px;
    height: 60px;
}

.card.small .card-action{
    padding: 10px;
}

#past .btn{
    padding: 1px 10px;
    margin: 5px;
    font-size: 0.85em;
    background-color: rgba(40, 84, 113, 0.91);
}

.btn{
    background-color: rgba(40, 84, 113, 0.91);
}

#past .card-title,#upcoming .card-title{
    text-align: left;
}

#past .card-title small,#upcoming .card-title small{
    line-height: 2;
}